{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="row d-flex justify-content-center">
  <h1 class="text-center mt-5">Catálogo de Mediciones</h1>
  <div class="">
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Ubicación</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Tipo de alumbrado</th>
            <th>Inspector</th>
            <th>Fecha de inspección</th>
            <th>Cumplimiento</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for medicion in mediciones_art5 %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ medicion.direccion }}</td>
            <td>{{ medicion.latitud }}</td>
            <td>{{ medicion.longitud }}</td>
            <td>{{ medicion.get_tipo_display }}</td>
            <td>{{ medicion.usuario }}</td>
            <td>{{ medicion.creado }}</td>
            <td>{{ medicion.get_nivel_cumplimiento_display }}</td>
            <td><a href="{% url 'detalle_medicion' medicion.id %}" class="btn btn-dark">Detalle</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock contenido %}
