{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="row d-flex justify-content-center">
    <h2 class="text-center mb-5">Editar Medición</h2>
    <div class="col-md-8">
        <form method="POST">
            {% csrf_token %}
            
            <div class="row mb-3">
                <div class="col-6">
                    <label for="{{ form.direccion.id_for_label }}" class="form-label">{{ form.direccion.label }}</label>
                    {{ form.direccion }}
                    {% if form.direccion.help_text %}
                        <small class="form-text text-muted">{{ form.direccion.help_text }}</small>
                    {% endif %}
                    {% if form.direccion.errors %}
                        <div class="alert alert-danger">{{ form.direccion.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.latitud.id_for_label }}" class="form-label">{{ form.latitud.label }}</label>
                    {{ form.latitud }}
                    {% if form.latitud.help_text %}
                        <small class="form-text text-muted">{{ form.latitud.help_text }}</small>
                    {% endif %}
                    {% if form.latitud.errors %}
                        <div class="alert alert-danger">{{ form.latitud.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.longitud.id_for_label }}" class="form-label">{{ form.longitud.label }}</label>
                    {{ form.longitud }}
                    {% if form.longitud.help_text %}
                        <small class="form-text text-muted">{{ form.longitud.help_text }}</small>
                    {% endif %}
                    {% if form.longitud.errors %}
                        <div class="alert alert-danger">{{ form.longitud.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-6">
                    <label for="{{ form.tipo.id_for_label }}" class="form-label">{{ form.tipo.label }}</label>
                    {{ form.tipo }}
                    {% if form.tipo.help_text %}
                        <small class="form-text text-muted">{{ form.tipo.help_text }}</small>
                    {% endif %}
                    {% if form.tipo.errors %}
                        <div class="alert alert-danger">{{ form.tipo.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.clase_luminaria.id_for_label }}" class="form-label">{{ form.clase_luminaria.label }}</label>
                    {{ form.clase_luminaria }}
                    {% if form.clase_luminaria.help_text %}
                        <small class="form-text text-muted">{{ form.clase_luminaria.help_text }}</small>
                    {% endif %}
                    {% if form.clase_luminaria.errors %}
                        <div class="alert alert-danger">{{ form.clase_luminaria.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.usuario.id_for_label }}" class="form-label">{{ form.usuario.label }}</label>
                    {{ form.usuario }}
                    {% if form.usuario.help_text %}
                        <small class="form-text text-muted">{{ form.usuario.help_text }}</small>
                    {% endif %}
                    {% if form.usuario.errors %}
                        <div class="alert alert-danger">{{ form.usuario.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-4">
                    <label for="{{ form.menor_igual_90grados.id_for_label }}" class="form-label">{{ form.menor_igual_90grados.label }}</label>
                    {{ form.menor_igual_90grados }}
                    {% if form.menor_igual_90grados.help_text %}
                        <small class="form-text text-muted">{{ form.menor_igual_90grados.help_text }}</small>
                    {% endif %}
                    {% if form.menor_igual_90grados.errors %}
                        <div class="alert alert-danger">{{ form.menor_igual_90grados.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-4">
                    <label for="{{ form.mayor_90grados.id_for_label }}" class="form-label">{{ form.mayor_90grados.label }}</label>
                    {{ form.mayor_90grados }}
                    {% if form.mayor_90grados.help_text %}
                        <small class="form-text text-muted">{{ form.mayor_90grados.help_text }}</small>
                    {% endif %}
                    {% if form.mayor_90grados.errors %}
                        <div class="alert alert-danger">{{ form.mayor_90grados.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-4">
                    <label for="{{ form.emision_reflexion.id_for_label }}" class="form-label">{{ form.emision_reflexion.label }}</label>
                    {{ form.emision_reflexion }}
                    {% if form.emision_reflexion.help_text %}
                        <small class="form-text text-muted">{{ form.emision_reflexion.help_text }}</small>
                    {% endif %}
                    {% if form.emision_reflexion.errors %}
                        <div class="alert alert-danger">{{ form.emision_reflexion.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-4">
                    <label for="{{ form.proteccion_especial.id_for_label }}" class="form-label">{{ form.proteccion_especial.label }}</label>
                    {{ form.proteccion_especial }}
                    {% if form.proteccion_especial.help_text %}
                        <small class="form-text text-muted">{{ form.proteccion_especial.help_text }}</small>
                    {% endif %}
                    {% if form.proteccion_especial.errors %}
                        <div class="alert alert-danger">{{ form.proteccion_especial.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-4">
                    <label for="{{ form.radiancia_espectral.id_for_label }}" class="form-label">{{ form.radiancia_espectral.label }}</label>
                    {{ form.radiancia_espectral }}
                    {% if form.radiancia_espectral.help_text %}
                        <small class="form-text text-muted">{{ form.radiancia_espectral.help_text }}</small>
                    {% endif %}
                    {% if form.radiancia_espectral.errors %}
                        <div class="alert alert-danger">{{ form.radiancia_espectral.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-4">
                    <label for="{{ form.emision_conjunta.id_for_label }}" class="form-label">{{ form.emision_conjunta.label }}</label>
                    {{ form.emision_conjunta }}
                    {% if form.emision_conjunta.help_text %}
                        <small class="form-text text-muted">{{ form.emision_conjunta.help_text }}</small>
                    {% endif %}
                    {% if form.emision_conjunta.errors %}
                        <div class="alert alert-danger">{{ form.emision_conjunta.errors }}</div>
                    {% endif %}
                </div>

            </div>
            
            <div class="row mb-3">
                <div class="col-3">
                    <label for="{{ form.nivel_cumplimiento.id_for_label }}" class="form-label">{{ form.nivel_cumplimiento.label }}</label>
                    {{ form.nivel_cumplimiento }}
                    {% if form.nivel_cumplimiento.help_text %}
                        <small class="form-text text-muted">{{ form.nivel_cumplimiento.help_text }}</small>
                    {% endif %}
                    {% if form.nivel_cumplimiento.errors %}
                        <div class="alert alert-danger">{{ form.nivel_cumplimiento.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-9">
                    <label for="{{ form.observaciones.id_for_label }}" class="form-label">{{ form.observaciones.label }}</label>
                    {{ form.observaciones }}
                    {% if form.observaciones.help_text %}
                        <small class="form-text text-muted">{{ form.observaciones.help_text }}</small>
                    {% endif %}
                    {% if form.observaciones.errors %}
                        <div class="alert alert-danger">{{ form.observaciones.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <!-- Botón de guardar -->
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>
{% endblock contenido %}
