{% extends 'historialMediciones/base.html' %}
{% load static %}

{% block contenido %}
<div class="row">
    <h1 class="text-center">{{ area.nombre }} - Historial de Mediciones</h1>
    {% for mes, datos in mediciones_mensuales.items %}
    <div class="col-4 mt-5 d-flex justify-content-center">
      <div class="card" style="width: 24rem; min-height: 520px;">
        <img src="{% static area.imagen %}" class="card-img-top" alt="Imagen de {{ area.nombre }}">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ mes|capfirst }}</strong></h5>
          <p class="card-text">Valor última medición registrada: {{ datos.ultimo_valor_medicion}}</p>
          <p class="card-text">Fecha última medición registrada: {{ datos.ultima_fecha_medicion }}</p>
          <a href="{% url 'catalogo_mediciones' mes %}" class="btn btn-primary">Ver historial</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock contenido %}
