{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<h1 class="text-center mb-4">Detalle del Proyecto</h1>

<div class="card mb-4">
    <div class="card-body">
        <h3>Proyecto: {{ fiscalizacion.proyecto.nombre }}</h3>
        <p>Ingresado al sistema el {{ fiscalizacion.creado }}</p>
        <p><img src="{{fiscalizacion.proyecto.foto.url}}" alt="Foto área de Fiscalizacion" width="50" height="auto"></p>
        <p><strong>Tipo de Alumbrado:</strong> {{ fiscalizacion.proyecto.get_tipo_alumbrado_display }}</p>
        <p><strong>Ubicación:</strong> Latitud {{ proyecto.latitud }}, Longitud {{ proyecto.longitud }}</p>
        <p><strong>Inspector: </strong>{{ proyecto.fiscalizacion_set.first.usuario.nombre }} {{ proyecto.fiscalizacion_set.first.usuario.a_paterno }}</p>
    </div>
</div>

<tbody>
    <tr>
        <td>{{ fiscalizacion.id }}</td>
        <td>{{ fiscalizacion.proyecto.nombre }}</td>
        <td>{{ fiscalizacion.usuario.nombre }} {{ fiscalizacion.usuario.a_materno }}</td>
        <td>{{ fiscalizacion.creado }}</td>
        <td>
            <ul>
                {% for medicion in fiscalizacion.medicion_set.all %}
                <li>{{ medicion.valor_medido }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>

</tbody>


<h2>Historial de Mediciones</h2>
<div class="table-responsive">
    <table class="table table-dark table-hover table-striped table-bordered text-center align-middle">
        
        <thead>
            <tr class="align-middle">
                <th>Inspector</th>
                <th>Instrumento</th>
                <th>Valor Medido</th>
                <th>Cumplimiento</th>
                <th>Observaciones</th>
                <th>Fecha</th>
                <th>img</th>
                <th class="text-center" colspan="1" rowspan="2">Acciones</th>
    
            </tr>
        </thead>

        <tbody>
            {% for medicion in mediciones %}
            <tr>
                <td>{{ proyecto.fiscalizacion_set.first.usuario.nombre }} {{ proyecto.fiscalizacion_set.first.usuario.a_paterno }}</td>
                <td>{{ medicion.instrumento_medicion.get_tipo_display }}</td>
                <td>{{ medicion.valor_medido }}</td>
                <td>{{ medicion.get_cumplimiento_display }}</td>
                <td>{{ medicion.fiscalizacion.proyecto.id }}</td>
                <td>{{ medicion.creado }}</td>
                <td>
                   
                    <img src="{{ medicion.foto.url }}" alt="Foto de medición" width="50" height="auto">
                    
                </td>
    
                <td>
                <div class="d-flex justify-content-center">
                    <div class="me-1" data-bs-toggle="tooltip" title="Editar" data-bs-placement="top">
                        <a class="btn btn-warning" href="{% url ''%}"><i class="bx bx-edit"></i></a>
                    </div>
                    <div data-bs-toggle="tooltip" title="Eliminar" data-bs-placement="top">
                        <a class="btn btn-danger" href="{% url 'eliminarMedicion' medicion.id %}"><i class="bx bx-trash"></i></a>
                    </div>
                </div>
            </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No hay mediciones asociadas a este proyecto.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

<a href="{% url '' %}" class="btn btn-secondary mt-4">Volver</a>
{% endblock %}