{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<h1 class="text-center mb-5">Fiscalizaciones</h1>
<div class="row justify-content-center mt-5">
    <div class="col-7">
        <div class="card bg-danger text-light text-center">
            <h4 class="card-header ">Confirmar Eliminación de Fiscalización</h4>
            <div class="card-body alert alert-danger bg-light">
                <h5 class="card-title">¿Estas seguro que deseas eliminar la fiscalización?</h5>
                <h5>{{ fiscalizacion.proyecto }}</h5>

                <p class="card-text">Ingresado el {{ fiscalizacion.creado }} </p>
                <form method="post">
                    {% csrf_token %}
                    <a href="{% url '' %}" class="btn btn-dark me-3">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}