{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="row">
    <div class="col">
        <h1 class="text-center">Nueva Medición</h1>
        <h5 class="text-center mb-5">Proyecto: {{ fiscalizacion.proyecto.nombre }}</h5>
        <form method="post" enctype=multipart/form-data>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">

                <div class="col-3">
                    <img src="{% static 'images/default.png' %}" alt="Imagen del proyecto" width="150" height="auto"
                        class="mx-auto my-auto d-block mb-2">
                    <label for="foto">Fotografia punto de medición:</label>
                    <input type="file" name="foto" id="foto" class="form-control form-control-sm">
                    
                    <div class="col-4 mt-3">
                        {{ form.tipo.label_tag }}
                        {{ form.tipo }}
                        {{ form.tipo.errors }}
                    </div>
                </div>

                <div class="col-9">
                    <div class="row ms-3">

                        <div class="col-4 mb-4">
                            {{ form.latitud.label_tag }}
                            {{ form.latitud }}
                            {{ form.latitud.errors }}
                        </div>
                        <div class="col-4 mb-4">
                            {{ form.longitud.label_tag }}
                            {{ form.longitud }}
                            {{ form.longitud.errors }}
                        </div>
                        <div class="col-4 mb-4">
                            {{ form.temperatura.label_tag }}
                            {{ form.temperatura }}
                            {{ form.temperatura.errors }}
                        </div>
                        <div class="col-3 mb-4">
                            {{ form.humedad.label_tag }}
                            {{ form.humedad }}
                            {{ form.humedad.errors }}
                        </div>
                        <div class="col-3 mb-4">
                            {{ form.valor_medido.label_tag }}
                            {{ form.valor_medido }}
                            {{ form.valor_medido.errors }}
                        </div>
                        <div class="col-6 mb-4">
                            {{ form.instrumento_medicion.label_tag }}
                            {{ form.instrumento_medicion }}
                            {{ form.instrumento_medicion.errors }}
                        </div>
                        <div class="col-12 mb-4">
                            {{ form.observacion.label_tag }}
                            {{ form.observacion }}
                            {{ form.observacion.errors }}
                        </div>

                        <div class="row mx-auto my-auto d-block mb-2">
                            <a class="btn btn-dark mb-2" href="{% url '' %}">Volver</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
    
                    </div>
                </div>
            </div>
            

        </form>
    </div>
</div>
{% endblock contenido %}
